/* .container-calculator {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  display: grid;
  align-items: center;
  justify-content: space-between;
  padding: 20px 50px;
  grid-template-columns: repeat(2, 375px);
  border-radius: 20px;
}

.tips {
  display: grid;
  grid-template-columns: repeat(3, 108px);
  gap: 10px;
}

.container__result {
  background-color: hsl(183, 100%, 15%);
  padding: 95px 20px;
  width: 375px;
  border-radius: 0.9375rem;
}

.container__amount,
.container__total {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text-amount,
.text-total {
  font-size: 1rem;
  font-weight: 700;
  color: white;
}

.text-person {
  font-size: 0.8125rem;
  font-weight: 700;
  color: hsl(184, 14%, 56%);
}

h1 {
  color: hsl(172, 67%, 45%);
}

.btn-reset {
  padding: 0.75rem 0.75rem 0.5625rem;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  border: none;
  border-radius: 0.3125rem;
  margin-top: 3.5rem;
  cursor: pointer;
  transition: hover 0.5s ease-in-out;
}

.



input {
  background-color: hsl(189, 41%, 97%);
  border: none;
  color: hsl(183, 100%, 15%);
  font-weight: 700;
  font-size: 1.51875rem;
  text-align: right;
  padding: 0.25rem 0.8rem 0.3125rem;
  border-radius: 0.3125rem;
  font-family: "Space Mono", monospace;
}

.tips button {
  padding: 0.379rem;
  background: hsl(183, 100%, 15%);
  color: white;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;
  font-family: "Space Mono", monospace;
}

.inputBill,
.inputPeople {
  position: relative;
}

.icon-dollar {
  position: absolute;
  top: 8.5rem;
  left: 4rem;
  z-index: 1;
}

.icon-person {
  position: absolute;
  top: 27.2rem;
  left: 4rem;
  z-index: 1;
} */

.btn-reset:enabled {
  background: hsl(172, 67%, 45%);
}

.btn-reset:enable:hover {
  background: hsl(185, 41%, 84%);
}

.btn-reset:disabled {
  background-color: hsl(172, 67%, 45%);
  color: rgb(150, 146, 146);
  cursor: not-allowed;
  opacity: 0.3;
}
